@import "tailwindcss";
@layer base{
  body{
     background-color: black;
     color:white;
    font-family: "Original Surfer", sans-serif;
    margin:0;
    padding:0;
    }
  }

@layer components {
  .head{
      @apply flex flex-col text-white  w-full p-5 justify-center items-center tracking-[.05em]  gap-2;
  }
  .btn{
      @apply border-none px-1 rounded-lg  w-10 bg-red-400 text-xl cursor-pointer
  }
  .cont{
    @apply bg-white text-black flex flex-col p-3 px-6 sm:px-8 md:px-10 rounded-lg items-center justify-center gap-2 w-full sm:w-64 md:w-72 lg:w-80 hover:ring-3 hover:ring-red-500 transition duration-300 ease-in-out transform basis-1/6
  }
  .orderBtn{
    @apply border-2 p-3 w-50 bg-gradient-to-r from-yellow-400 to-yellow-600 border-yellow-500 rounded-xl w-[80%] mb-5 hover:from-yellow-600 hover:to-yellow-400
  }
  .yellowBG{
    @apply h-68 w-70 rounded-[80px] bg-gradient-to-r from-yellow-900 to-yellow-700 tracking-[.075em]  absolute top-11 left-15 flex flex-col justify-center items-center
  }
  .gradientText{
    @apply text-xl  font-bold bg-gradient-to-r from-yellow-600 to-yellow-200 bg-clip-text text-transparent
  }
  .ingreCont{
    @apply bg-white rounded-lg p-5 h-20 w-100 origin-left text-black hover:border-3 hover:border-yellow-500 hover:ring-4 hover:ring-yellow-900 hover:scale-x-102 transition-transform duration-300 cursor-pointer
  }
}

/* @theme:{

} */
 
